/home/jabez/week_11/Contract-Advisor-RAG/env
/env
/home/jabez/week_11/Contract-Advisor-RAG/data
/home/jabez/week_11/Contract-Advisor-RAG/.env
/home/jabez/week_11/Contract-Advisor-RAG/frontend/node_modules
/home/jabez/week_11/Contract-Advisor-RAG/frontend/chatbot
/home/jabez/week_11/Contract-Advisor-RAG/frontend/streamlit_chat.py